# prod | dev 
ENVIRONMENT=prod

LOG_LEVEL=DEBUG
HOST=0.0.0.0
PORT=9999
COMMAND_START=["/"]

# Plugin
# Deprecated：nonebot-plugin-meme-stickers>=0.2.8
LOCALSTORE_USE_CWD=True

# AI Configuration
API_KEY="填写AI平台的API KEY"
BASE_URL=
CHAT_MODEL=

# Bot Configuration
BOT_QQ=
ADMINISTOR=
SUPERUSERS=["userA", "userB"]